.logo{
  width: 220px;
  height:80px;
}
/* Left border */
.left-border {
  position: fixed;
  top: 0;
  left: 0;
  width: 1.5cm;
  height: 100%;
  background: url("border-peacock2.jpg") repeat-y;
  background-size: 100% auto;
  z-index: 9999;
}

/* Right border */
.right-border {
  position: fixed;
  top: 0;
  right: 0;
  width: 1.5cm;
  height: 100%;
  background: url("border-peacock2.jpg") repeat-y;
  background-size: 100% auto;
  z-index: 9999;
}

.navbar {
  position:sticky;
  top: 0;   
  z-index: 1000;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  padding: 20px 40px;
}

/* logo styling */
.logo {
  padding-right:210px;
  font-size: 30px;
  font-weight: bold;
  color: #fbe5cd; 
}

.user
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
}
.user:hover{
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.navbar {
  transition: background-color 0.3s, padding 0.3s;
}

.navbar a {
  transition: color 0.3s;
}


.navbar a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  margin-right:12px;
}

.navbar a:hover {
  color: #fbe5cd;
  font-weight: 300;
}


